/*Index Part*/
.navbar{
	background-color: #212121;
	height: 8vh;
	
}
.navbar-brand{
	color: white;
	font-size : 20px;
}
.nav-link{
	color: white;
	font-size : 20px;
}

.footer{
	background-color: #212121;
}

/*HEAD*/
.jumbotron{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.content-center {
	padding-top: 50px;
	margin-bottom : 100px;

}
.title1{
	font-size: 90px;
	color: white;	
}
.title2{
	font-size: 90px;
	color: white;

}
.lead{
	font-size: 30px;
	color: white;
}

#btnBook{
	height: 50px;
	width: 400px;
	color: white;
	border-color: white;
	font-size: 20px;
}

/*Description*/
.container{
	padding: 100px;

}

#cardindex{
	border-radius: 50px;
}	


.card-title-index{
	font-size:40px;
	padding-bottom: 40px;

	
}

.card-text-index{
	height: 250px;
	font-size: 20px;
	text-align: center;
	
}


.content-center {
text-align: center;
}

#navSession {
	display:inline-block;
}

#myInfo {
	text-align: center;
	font-size : 20px;
}

#myInfoTitle {
	padding: 30px;
}

/*USER ENRROLEES*/
#subjectContainer{
	display: table;
    margin: 0 auto;
    font-size: 20px;	
}

.courseTitle{
	padding-top: 30px;
	text-align: center;
}






/*List of Enrollees Style*/

.content {
	height: 80vh;
}


#userEnrollees {
	display: table;
    margin: 0 auto;
    font-size: 30px;

}

#enrolleesTitle{
	text-align: center;
	padding: 50px;
}




/*USER PROFILE*/
#myInfo {
	padding-top: 50px;
	font-size: 25px;
}

#course{
	text-align: center;
}


#subjectContainer{
	font-size: 25px;
	padding-bottom: 30px;
}
.profile-pic-div {
	text-align: center;
}


#addCourseButton{
	height: 30px;
	font-size: 20px;
	text-align: center;
}


.titlecourse{
	padding-top: 50px;
	font-size: 90px;
}

.lead{
	padding-bottom: 100px
}
